.content {
  // padding: 35px 50px;
}

.content-title {
  padding-bottom: 24px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 45px;
}

.content-explain1 {
  // font-size: 18px;
  // font-weight: 400;
  // color: #333333;
  // line-height: 25px;
  margin: 20px 0;
}

.update-time {
  font-size: 22px;
  color: #666666;
}

.con-style {
  padding: 35px 40px 42px 40px;
}