.content {
  // padding: 35px 50px;
  // padding: 70px 300px 60px 300px;
}
.tab-contents {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  margin-bottom: 60px;
}
.img {
  width: 22px;
  height: 22px;
}
.imgs {
  background-color: #036db7;
  width: 38px;
  height: 38px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-content {
  display: flex;
  padding: 0px 80px 27px 80px;
}
.logo-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
}
.problem {
  color: #999999;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  padding-right: 10px;
}
.problem-type {
  color: #036db7;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
.problem-content {
  display: flex;
  padding: 60px 80px 24px 80px;
}
.problem-title {
  color: #333333;
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  font-family: PingFangSC-Semibold, PingFang SC;
  padding: 0 80px 5px 80px;
}
.problem-detail {
  line-height: 22px;
  color: #333333;
  font-size: 16px;
  padding: 0px 80px 20px 80px;
  min-height: 500px;
}
.related-articles {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 618px 50px 80px;
}
.articles {
  line-height: 25px;
  font-weight: 500;
  color: #333333;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.faq-detail-content {
  background: #fbfdff;
  padding-top: 60px;
}
.articles1 {
  color: #036db7;
  line-height: 22px;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 10px;
  cursor: pointer;
  font-family: PingFangSC-Regular, PingFang SC;
}
