.content-title {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 24px;
  border-bottom: 1px solid #d8d8d8;
}

// .content-style {
//   overflow-y: auto;
//   height: 450px;
// }
.update-time {
  font-size: 22px;
  color: #666666;
}
.con-style {
  padding: 35px 40px 42px 40px;
}
.content-explain1 {
  white-space: pre-wrap;
  // padding-left: 20px;
}
