.container {
  display: flex;
  flex-direction: column;

  .banner {
    font-size: 0;

    img {
      width: 100%;
      height: 500px;
      display: block;
      object-fit: cover;
    }
  }

  .download {
    background: #fbfdff;

    >div {
      padding: 136px 0 100px 0;
      background: url(@/assets/imgs/index-download.png) no-repeat right 105px #fbfdff;
      background-size: auto 578px;
    }

    .download-left {
      width: 900px;

      &-ttile {
        font-size: 40px;
        font-family: ArialMT;
        color: #333333;
        line-height: 45px;
        margin-bottom: 55px;
      }

      ul {
        li {
          margin-bottom: 20px;
          font-size: 16px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #4e4b4b;
          line-height: 22px;

          i {
            color: #036db7;
          }
        }
      }
    }

    .download-right {
      width: 45%;

      img {
        width: 100%;
      }
    }

    button {
      margin-top: 40px;
      width: 216px;
      height: 50px;
      background: #036db7;
      border-radius: 10px;
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 1px;
    }
  }

  .allas-app {
    padding: 0 0 100px 0;
    background: #fbfdff;

    .allas-app-left {
      width: 699px;
    }

    .allas-app-right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .allas-app-img {
      width: 699px;
      position: relative;

      img {
        width: 100%;
      }

      .mask {
        position: absolute;
        top: 0;
        left: 10px;
        right: 20px;
        bottom: 15px;
        background: #000;
        opacity: 0.5;
        border-radius: 60px;
      }
    }

    .allas-app-text {
      flex: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      margin-left: 50px;
      line-height: 22px;
      font-size: 16px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #4e4b4b;

      h1 {
        font-size: 32px;
        font-family: ArialMT;
        color: #333333;
        line-height: 37px;
        position: relative;
        margin-bottom: 60px;
        // line-height: 63px;
        font-weight: 500;

        &::after {
          content: '';
          display: block;
          width: 80px;
          height: 1px;
          background: #036db7;
          border: 3px solid #036db7;
          border-radius: 10px;
          position: absolute;
          bottom: -36px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }

  .quick-link {
    position: relative;
    z-index: 99;

    .quick-link-wrap {
      width: 1000px;
      height: 80px;
      display: flex;
      position: absolute;
      left: 50%;
      top: -40px;
      background: #fff;
      border-radius: 9px;
      box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
      transform: translate(-50%, 0);
      font-size: 16px;
      font-family: ArialMT;
      color: #4e4b4b;
      line-height: 18px;

      >div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
      }
    }
  }

  .online-education {
    background: #eff1f4;
    padding-top: 113px;
    position: relative;

    h2 {
      height: 70px;
      font-size: 32px;
      font-family: ArialMT;
      color: #333333;
      line-height: 37px;
      text-align: center;
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 88px;
        height: 1px;
        background: #036db7;
        border: 3px solid #036db7;
        border-radius: 10px;
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    .online-education-tips {
      font-size: 18px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #4e4b4b;
      line-height: 25px;
      margin-top: 9px;
      text-align: center;
    }

    .online-education-type {
      margin: 0 auto;
      padding: 30px 0 40px 50px;

      .online-education-type-item {
        margin-bottom: 20px;
        line-height: 32px;
        font-size: 14px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #4e4b4b;

        >div:first-child {
          width: 125px;
          font-size: 14px;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #4e4b4b;
        }

        >div:last-child {
          flex: 1;
          flex-wrap: wrap;

          >div {
            border-radius: 6px;
            margin-right: 20px;
            background: #fff;
            padding: 0 18px;
            cursor: pointer;
            transition: 0.25s;

            &.active,
            &:hover {
              background: #036db7;
              color: #fff;
            }
          }
        }
      }
    }

    .online-education-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;

      .online-education-item {
        width: 260px;
        padding-bottom: 15px;
        background: #fff;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 40px;
        cursor: pointer;
        transition: 0.25s;
        margin-right: 50px;

        // &:hover {
        //   transform: scale(1.1);
        // }

        >div:first-child {
          position: relative;
          height: 145px;
          overflow: hidden;
        }

        img {
          width: 100%;
          height: 200px;
        }

        .avatar {
          object-fit: cover;
        }

        &:nth-child(4n) {
          margin-right: 0;
        }

        .online-education-play {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 15px;
          justify-content: space-between;

          img {
            width: 32px;
            height: 32px;
          }

          >div {
            text-align: right;
            font-size: 14px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #ffffff;
            line-height: 20px;
          }

          i,
          span {
            font-size: 14px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #fdc207;
            line-height: 20px;
          }

          .lessons {
            span {
              font-size: 14px;
              font-family: PingFangSC-Medium, PingFang SC;
              font-weight: 500;
              color: #ffffff;
              line-height: 20px;
            }
          }
        }

        .online-education-text1 {
          justify-content: space-between;
          padding: 10px 15px;

          i {
            font-size: 14px;
          }

          >div>div {
            &:first-child {
              font-size: 16px;
              font-family: PingFangSC-Semibold, PingFang SC;
              font-weight: 600;
              color: #333333;
              line-height: 22px;
              margin-bottom: 3px;
            }

            &:last-child {
              font-size: 12px;
              font-family: PingFangSC-Semibold, PingFang SC;
              font-weight: 600;
              color: #999999;
              line-height: 17px;

              span {
                margin-right: 5px;
              }
            }
          }
        }

        .online-education-text2 {
          padding: 0 15px;
          justify-content: space-between;
          font-size: 14px;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #333333;
          line-height: 20px;

          .blue-line {
            color: #036db7;
            margin: 0 10px;
          }

          >div:last-child {
            height: 20px;
            background: #eff1f4;
            border-radius: 3px;
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #4e4b4b;
            line-height: 20px;
            padding: 0 5px;
            border-radius: 6px;
          }
        }

        .online-education-text3 {
          padding: 0 15px;
          font-size: 12px;
          font-family: ArialMT;
          color: #999999;
          line-height: 14px;
          margin: 6px 0;
        }

        .online-education-text4 {
          padding: 0 15px;
          font-size: 16px;
          font-family: Arial-BoldMT, Arial;
          font-weight: normal;
          color: #333333;
          line-height: 18px;
        }
      }
    }

    .find-more {
      width: 350px;
      height: 50px;
      background: #ffffff;
      border-radius: 10px;
      margin: -10px auto 48px auto;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      font-size: 18px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
    }

    .find-tutor {
      margin: 0 auto;
      padding: 0 0 75px 0;

      img {
        width: 660px;
        height: 455px;
      }

      .find-tutor-list {
        flex: 1;
        margin-left: 40px;

        h1 {
          font-size: 32px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #333333;
          line-height: 45px;
        }

        .find-tutor-item {
          .find-tutor-tips {
            margin: 5px 0 15px 0;
            font-size: 18px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #666666;
            line-height: 25px;
          }

          .find-tutor-type {
            display: flex;
            flex-wrap: wrap;

            div {
              line-height: 40px;
              margin: 0 15px 14px 0;
              background: #fff;
              padding: 0 15px;
              border-radius: 6px;
              font-size: 14px;
              font-family: PingFangSC-Semibold, PingFang SC;
              font-weight: 600;
              color: #4e4b4b;
              cursor: pointer;
              transition: 0.25s;

              &:hover,
              &.active {
                background: #036db7;
                color: #fff;
              }
            }
          }
        }

        button {
          width: 350px;
          font-size: 16px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #ffffff;
          height: 50px;
          font-size: 18px;
          width: 350px;
          margin-top: 10px;
          border-radius: 10px;
        }
      }
    }
  }

  .hear-students {
    padding-top: 60px;
    height: 238px;
    background: url(@/assets/imgs/hear-students-title-bg.png) 0 0 no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    font-size: 32px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;

    &::after {
      content: '';
      display: block;
      width: 88px;
      height: 1px;
      background: #036db7;
      border: 3px solid #036db7;
      border-radius: 10px;
      position: absolute;
      bottom: 92px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    h1 {
      font-size: 32px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
      line-height: 45px;
    }
  }

  .cooperation {
    background: #fff;
    padding-top: 48px;

    img {
      width: 100%;
    }
  }
}

.hear-students-wrap {
  margin: 0 auto;
  padding-top: 88px;
  display: flex;

  .carousel-arrow-left {
    width: 80px;
    margin: 108px 21px 0 0;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .carousel-arrow-right {
    width: 80px;
    margin: 108px 0 0 21px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .carousel-wrap {
    width: 1200px;
  }
}

.hear-students-item {
  height: 330px;
  padding: 41px 50px 53px 50px;
  background: #ffffff;
  // box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.05);
  // border-radius: 20px;

  div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 25px;

    &:nth-child(1) {
      justify-content: flex-end;
      margin: -10px -20px 0 0;
    }

    &:nth-child(2) {
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
      }
    }

    &:nth-child(4) {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #999999;
      line-height: 22px;
    }

    &:nth-child(5) {
      justify-content: flex-start;
      font-size: 16px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      line-height: 22px;
    }
  }
}

.asked-questions {
  width: 800px;
  margin: 102px auto 137px auto;

  h1 {
    text-align: center;
    font-size: 32px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 45px;
    margin-bottom: 32px;
  }

  .asked-questions-item {
    display: flex;
    flex-direction: column;
    width: 800px;
    line-height: 50px;
    background: #ffffff;
    min-height: 50px;

    padding: 0 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.05);

    >div:nth-child(1) {
      display: flex;
      min-height: 50px;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-size: 18px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #4e4b4b;

      &:last-child {
        justify-content: center;
      }

      i {
        font-size: 18px;
        margin-left: 10px;
      }
    }

    >div:nth-child(2) {
      padding: 0 20px;
      font-size: 16px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      line-height: 22px;

      strong {
        font-weight: 400;
      }
    }

    >div:nth-child(3) {
      text-align: right;
      line-height: 22px;
      margin-bottom: 15px;
      padding-right: 22px;
      cursor: pointer;
    }
  }
}

.allas-app-download {
  width: 100%;
  height: 310px;
  display: flex;
  justify-content: space-between;
  background: url(@/assets/imgs/allas-app-download.png) no-repeat right top #036db7;
  background-size: auto 100%;

  .allas-app-download-wrap {
    margin: 0 auto;
    padding: 40px 0 0 0;
    width: 1200px;

    h1 {
      font-size: 40px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #ffffff;
      line-height: 56px;
      margin-bottom: 15px;
    }

    a {
      display: inline-block;
      margin: 0 10px 10px 0;

      div {
        display: flex;
        align-items: center;
        padding: 0 15px;
        line-height: 40px;
        background: #f1faff;
        border-radius: 5px;
        font-size: 18px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #036db7;
        letter-spacing: 1px;

        span {
          margin-left: 10px;
        }

        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

.statistics {
  background: #f7f8f9;
  padding: 43px 0 47px 0;

  .statistics-item {
    flex: 1;
    line-height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #666666;
    text-align: center;

    >div {
      &:first-child {
        margin-bottom: 10px;
        line-height: 48px;
        color: #036db7;
        font-size: 48px;
      }
    }
  }
}

.down-app-btn {
  margin-top: 30px;

  button {
    width: 216px;
    height: 50px;
    background: #000000;
    border-radius: 10px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
    letter-spacing: 1px;
  }
}